* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat,sans-serif;
    
}
.logo {
    color: #EDEBED;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem
  }
a,
button {
    font-family: Montserrat,sans-serif;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    color: #EDEBED;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    background-color: #c678bc;
    color: #EDEBED;
    
}
nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.shop,
.sale {
    position: relative;
    
}
.shop ul,
.sale ul {
    position: absolute;
    background: #727073;
    margin-top: 1.2rem;
    margin-left: -5rem;
    width: 16rem;
    height: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    opacity: 0;
    pointer-events:none;
    transform: translateY(-.8rem);
    transition: all 0.5s ease-in;
    z-index: 1000;
}


.shop a:hover,
.sale a:hover{
    color: #c678bc;
    
}
nav button {
    background: none;
    border: none;
    color: #EDEBED;
}
.shop button:active {
    outline: none;
}
nav a:hover,
.shop button:hover,
.sale button:hover{
    color: #727073;
}

.shop button:focus + ul,
.sale button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.burger div{
    width: 1.8rem;
    height: .2rem;
    background-color: #EDEBED;
    margin: .5rem;
}

.burger {
    display:none;
    
}

@media screen and (max-width:768px) {
    .burger{
        display: block;
        cursor: pointer;
      }
    nav {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position:absolute;
        right: 0px;
        top: 4rem;
        background-color: #c678bc;
        opacity: 0;
        
    }
    .shop a:active, 
    .sale a:active{
        color: #c678bc;
        
    }
    .nav-active {
        opacity: 1;
        transition: all 0.5s ease-in;
        
}
/*
    .nav-active .line1{
        transform: rotate(45deg) translate(-2px, -1px);
    }
    .nav-active .line2{
        opacity: 0;
    }
    .nav-active .line1{
        transform: rotate(45deg) translate(-2px, 1px);
    }*/
}